.landing-cont {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
  color: white;
}

.landing-cont:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  display: block;
  background-image: url('./images/background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.wrapper { 
  margin-top: 10vh;
}

.text-section {
  margin-top: 15vh;
}
.inline-logo {
  display: none;
}
.main-title {
  font-size: 4vw;
  color: white;
}
.sub-title {
  font-size: 1.5vw;
}
.phone {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .main-title {
    font-size: 6vw;
  }
  .sub-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 769px) {
  .inline-logo {
    display: inline;
  }
  .main-title {
    display: inline;
    font-size: 13vw;
  }
  .sub-title {
    font-size: 6vw;
  }
  .logo-col {
    display: none;
  }
  .blank-col {
    display: none;
  }
  .mobile-text {
    text-align: center;
  }
  .phone {
    display: none;
    text-align: center;
  }
}