.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: grey;
}

.welcome-space {
    width: 100%;
    display: table;
    text-align: center;
    color: white;
    height: 15vh;
    border-bottom: 1px solid black;
}
.welcome-message {
    display: table-cell;
    vertical-align: middle;
}
.menu-space {
    padding: 20px 0;
    height: 100%;
    color: white;
}

.sidebar-link {
    display: block;
    font-size: 13px;
    width: 100%;
    padding: 10px 20px;
    color: inherit;
}
.sidebar-link:hover {
    background-color: lightgray;
    color: inherit;
}
.fa-users, .fa-building {
    color: black;
    font-size: 25px;
}