.modal-content {
    height: 200px;
    background-color: #DAD6C7;
    color: #573525;
    border-color: #E17342;
    border-width: 2px;
    padding: 12px;
}

.modal-close {
    background-color: #E17342;
}

.submit-button {
    background-color: #E17342;
    color: #DAD6C7;
}

.progress-bar {
    position: fixed;
    top: 10px;
}
