.dashboard-cont {
    max-height: 1080px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dashboard-background.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.user-view {
    margin-left: 250px;
    max-height: 1080px;
}
