.inline-logo {
    display: none;
}

.logo-image {
    width: 120px;
    border-radius: 25px;
}

.logo2-image {
    position: fixed;
    top: 24px;
    left: 12px;
    width: 4vw;
    border-radius: 25px;
}

.social-icon {
    position: relative;
    top: 90px;
    height: 40px;
    margin-left: 8px;
}

.fa-github-alt {
    position: relative;
    color: #FFFF;
    font-size: 18px;
    margin-right: 4px;
}

@media screen and (min-width: 1408px) {
    .logo-image {
        // width: 6vw;
    }
}

@media screen and (max-width: 1024px) {
    .logo-image {
        // width: 9vw;
    }
}

@media screen and (max-width: 769px) {
    .logo-image {
        // width: 13vw;
    }
}
